<h1><%= @place["name"] %></h1>

<h4>Memories from my time in <%= @place["name"]%></h4>

<div class="row">
  <% if @current_user %>
  <% for post in @posts %>
    <div class="col-md-3 col-sm-6">
    <h5><%= post["title"] %></h5>
    <h6><%= post["posted_on"] %></h6>
    <h7><%= post["description"] %></h7>
  <%if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image)%>" class="img-fluid">
      <%else%>
        <img src="<%= post["image"]%>" class="img-fluid">
      <% end %>
  </div>
<%end%>

<p>
 <button type="button" class="btn btn-success"><a href="/posts/new?place_id=<%= @place["id"] %>"class="link-light">New Post</a></button></p>

<p>
  <button type="button" class="btn btn-light">  <a href="/places">Back to Places</a> </button>
</p>

<% end %>
</div>
